PORT=3000
NODE_ENV=development
# Supabase Connection Pooler (Puerto 6543)
DATABASE_URL="postgresql://postgres.iqpppydxqdfjbozfvshg:TU-CONTRASEÑA-AQUÍ@aws-0-ca-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Supabase Direct Connection (Puerto 5432 para migraciones Prisma)
DIRECT_URL="postgresql://postgres.iqpppydxqdfjbozfvshg:TU-CONTRASEÑA-AQUÍ@aws-0-ca-central-1.pooler.supabase.com:5432/postgres"

JWT_SECRET="super-secret-jwt-key-restaurant-production-2026"
CORS_ORIGIN="*"
